.main-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 8px;
  row-gap: 22px;
}
.thumbnail {
  width: 230px;
}
.video-info {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 8px;
}
.profile-picture {
  width: 32px;
  border-radius: 50%;
  margin: 5px;
}
.video-title {
  font-size: 11px;
  font-weight: 500;
  line-height: 1.5;
}
.channel-name {
  font-size: 9px;
  color: grey;
  margin: 8px 0px 3px 0px;
}
.video-stats {
  font-size: 9px;
  color: grey;
}

.video-container {
  display: grid;
  gap: 8px;
}
.timestamp {
  position: relative;
}
.video-length {
  background-color: black;
  color: white;
  font-size: 9px;
  font-weight: 500;
  position: absolute;
  bottom: 10px;
  right: 5px;
  padding: 3px 5px;
  border-radius: 2px;
}
