.nav {
  width: 72px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 500;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.nav div {
  width: 72px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  cursor: pointer;
}

.nav div:hover {
  background-color: #ebe5e5de;
}
.nav img {
  width: 24px;
}
